<h1>Listing tweets</h1>
<%= form_for(:tweets, :method => :get) do |f| %>
<div class="field">
  <%= text_field_tag :query %>
    <%= f.submit "Search" %>
</div>
<% end %>
<%= will_paginate(@tweets) %>
<table>
  <tr>
    <th>Text</th>
    <th>Link</th>
    <th>Date</th>
    <th>Tweet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.text %></td>
    <td><%= tweet.link %></td>
    <td><%= tweet.date %></td>
    <td><%= tweet.tweet_id %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
